
:root {
    --cor-fundo: #4e38ad;
    --cor-principal: #231561;
    --cor-secundaria: #fff;
    --cor-destaque: #9380e6;
    --cor-texto: #ffffff;
    --cor-botao: #5846a7;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

.caixa-principal{
    border: 3px dashed white;
    border-radius: 3px;
    background-color: var(--cor-principal);
    width: 90%;
    text-align: center;
    padding: 20px;
}

h1{
    color: var(--cor-destaque);
}

button {
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
    border: none;
    border-radius: 20px;
    padding: 10px;
    transition: background-color 0.3s;
    border: 1px dashed white;
    border-radius: 5px;
    margin-right: 10px;
}

button:hover {
    background-color: var(--cor-botao);
    color: var(--cor-secundaria);
}

